{% extends "global/base.html" %}

{% block title %}
- Lista de Usuários
{% endblock %}

{% block content %}
<h1>Lista de Usuários Cadastrados</h1>
{% for usuario in object_list %}
<a href="{% url 'user:profile' usuario.pk %}">
    <h2>Usuário {{ usuario.pk }}</h2>
</a>
<p><strong>First Name: </strong>{{ usuario.firstname }}</p>
<p><strong>Last Name: </strong>{{ usuario.lastname }}</p>
<p><strong>Username: </strong>{{ usuario.username }}</p>
<p><strong>Email: </strong>{{ usuario.email }}</p>
{% endfor %}
{% endblock %}