{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
- Fazer Login
{% endblock %}

{% block content %}
<div class="min-h-screen absolute bottom-0 flex justify-center items-center">
    <div class="h-full text-center flex items-center flex-col self-center">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-xl mb-6 border-b-2 border-black w-full text-center">
                    Faça Login para continuar
                </legend>
                {{ form|crispy }}
            </fieldset>
            <input type="submit" value="Fazer Login"
                class="bg-blue-700 bg-opacity-30 w-full py-1.5 px-3 font-semibold rounded-md cursor-pointer hover:scale-[1.035] mt-2">
        </form>
        <small class="mt-4">
            Não tem uma conta ainda?
            <p>
                <a href="{% url 'user:register' %}" class="underline text-blue-500">Clique aqui para criar uma conta</a>
            </p>
        </small>
    </div>
</div>
{% endblock %}