{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
- PenseNisso - Fazer Login
{% endblock %}

{% block content %}
<header class="my-28 flex justify-center items-center">
    <div class="text-center flex items-center flex-col">
        <h2 class="text-xl mb-6">Faça login para continuar</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button
                class="bg-blue-700 bg-opacity-30 py-1 px-3 font-semibold rounded-md cursor-pointer hover:scale-[1.035] mt-2"
                type="submit">
                Fazer Login
            </button>
        </form>
        <small class="mt-4">
            Não tem uma conta ainda?
            <p><a href="{% url 'user:register' %}" class="underline text-blue-500">Clique aqui para criar uma conta</a>
            </p>
        </small>
    </div>
</header>
{% endblock %}