<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>

<body>
    <h1>Seu perfil</h1>
    <p><strong>Primeiro nome: </strong>{{ object.firstname }}</p>
    <p><strong>Último nome: </strong>{{ object.lastname }}</p>
    <p><strong>Username: </strong>{{ object.username }}</p>
    <p><strong>Email: </strong>{{ object.email }}</p>
    <p><strong>Empresas favoritas:</strong></p>
    <ul>
        {% for company in object.favorite_companies.all %}
        <li><a href="{% url 'company:company' company.pk %}">{{ company.name }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>