{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
- Cadastro
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold my-4">Cadastro</h1>

<form method="post" class="flex flex-col">
    {% csrf_token %}
    <fieldset>
        <legend class="mb-5">É novo por aqui? Cadastre-se:</legend>
        {{ form|crispy }}
    </fieldset>
    <input type="submit" value="Criar Conta" class="bg-blue-700 bg-opacity-30 py-1 px-3 font-semibold rounded-md cursor-pointer hover:scale-[1.035]">
</form>
{% endblock %}