{% extends "global/base.html" %}
{% load info_extras %}
{% load crispy_forms_tags %}

{% block title %}
- Moderação
{% endblock %}

{% block content %}
<div class="w-full text-justify space-y-1">
    <h2 class="text-2xl font-bold">{{ report.title }}</h2>
    <p><strong>Empresa envolvida: </strong>{{ report.company }}</p>
    <p><strong>Categoria da denúncia: </strong>{{ report.category }}</p>
    <p><strong>Descrição da denúncia: </strong>{{ report.content }}</p>
    <p><strong>Links de evidências: </strong>{{ report.links|join:", "|urlize|url_fix }}</p>
</div>

<div class="divider"></div>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Enviar feedback" class="btn normal-case bg-slate-300">
</form>
{% endblock %}