{% extends "./base.html" %}

{% block title %}
- Sobre Nós
{% endblock %}

{% block content %}
<main class="w-full flex flex-col space-y-2 text-justify hyphens-auto my-6" lang="pt-br">
    <h1 class="text-2xl font-bold mb-1">Nossa História</h1>

    <p class="indent-8">
        Nos dias atuais, é notório o aumento de casos de más práticas
        empresariais, relacionadas tanto ao descaso com os trabalhadores como
        também à degradação do meio ambiente. Todavia, a maior parte dessas
        notícias não possuem uma divulgação abrangente, ou mesmo são rapidamente
        esquecidas pelos veículos de informação, de forma que se torna vantajoso
        para as empresas continuar agindo da mesma maneira, sabendo que não
        haverá maiores prejuízos.
    </p>

    <p class="indent-8">
        Nesse cenário, o Pense Nisso surge como forma de informar o usuário
        sobre as atividades indevidas de cada empresa fornecedora de produtos e
        serviços, a fim de norteá-lo na sua busca por um consumo mais
        consciente, oferecendo assim um incentivo maior para essas instituições
        perceberem a necessidade de mudar as suas ações.
    </p>

    <p class="indent-8">
        Nosso objetivo é expor todas aquelas empresas que, de alguma forma, agem
        de forma prejudicial à sociedade, seja por meio de más práticas
        trabalhistas, seja por agressão ao meio ambiente. Além disso, faz-se
        importante a divulgação daqueles que estão caminhando na direção certa,
        mas que não têm a mesma visibilidade que marcas já consolidadas no
        mercado.
    </p>
</main>
{% endblock %}