{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pense Nisso {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
</head>
<body>
    {% include "./header.html" %}
    <div class="max-w-2xl xl:max-w-4xl flex flex-col justify-center items-center mx-auto">
        <ul>
            <form action="{% url 'search:search' %}" method="get">
                {% csrf_token %}
                <input 
                    type="search" 
                    id="search" 
                    name="search" 
                    placeholder="Pesquisar empresas..." 
                    class="input"
                    required />
                <script>
                    var tags = [ 
                            {% for company in companies %} 
                                "{{ company.name }}", 
                            {% endfor %} 
                        ]; 
                    $( function() {
                        $( "#search" ).autocomplete({
                            minLength: 2,
                            source: function(request, response) {
                                var results = $.ui.autocomplete.filter(tags, request.term);
                                response(results.slice(0, 10));
                                console.log(results);
                            }
                        });
                    } ); 
                </script> 
                <input type="submit" value="Pesquisar">
            </form>
        </ul>
        {% block content %}
        {% endblock %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
