{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pense Nisso {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'global/base.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <h1><a href="/" class="nav-title">Pense Nisso</a></h1>
        <ul>
            <form action="{% url 'search:search' %}" method="get">
                {% csrf_token %}
                <input 
                    type="search" 
                    id="search" 
                    name="search" 
                    placeholder="Pesquisar empresas..." 
                    required />
                <script>
                    var tags = [ 
                            {% for company in companies %} 
                                "{{ company.name }}", 
                            {% endfor %} 
                        ]; 
                    $( function() {
                        $( "#search" ).autocomplete({
                            minLength: 2,
                            source: function(request, response) {
                                var results = $.ui.autocomplete.filter(tags, request.term);
                                response(results.slice(0, 10));
                                console.log(results);
                            }
                        });
                    } ); 
                </script> 
                <input type="submit" value="Pesquisar">
            </form>
        </ul>
        <ul>
            <li><a href="{% url 'company:explorer'%}">Empresas</a></li>
        </ul>
    </header>
    <hr>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
