<footer
    class="w-full bg-blue-700 bg-opacity-20 py-3.5 flex flex-col justify-center items-center mt-16">
    <div class="w-full inline-flex justify-evenly items-center font-bold">
        <div class="inline-flex flex-col justify-center items-start gap-2">
            <p>Fale Conosco</p>
            <p class="font-normal">pensenisso@gmail.com</p>
        </div>
        <div class="inline-flex flex-col justify-center items-end gap-2">
            <a href="{% url 'privacy_policy' %}">Política de Privacidade</a>
            <a href="{% url 'about_us' %}">Sobre Nós</a>
        </div>
    </div>
    <p class="w-full text-sm text-center mt-2">© 2023 Pense Nisso</p>
</footer>