<form action="{% url 'search:search' %}" method="get"
    class="flex justify-center items-center bg-zinc-200 rounded-xl pr-3">
    {% csrf_token %}
    <input type="search" id="search" name="search" placeholder="Pesquisar empresas..."
        class="input bg-zinc-200 font-semibold placeholder-neutral-500" required />
    <script>
        var tags = [
            {% for company in companies %}
        "{{ company.name }}",
            {% endfor %} 
                        ];
        $(function () {
            $("#search").autocomplete({
                minLength: 2,
                source: function (request, response) {
                    var results = $.ui.autocomplete.filter(tags, request.term);
                    response(results.slice(0, 10));
                    console.log(results);
                }
            });
        }); 
    </script>
    <button type="submit" class="cursor-pointer text-2xl"><ion-icon name="search-sharp"></ion-icon></button>
</form>