{% extends "global/base.html" %}

{% block content %}
    <center class="flex flex-col space-y-4">
        <div class="search">
            <h1>
                {% block search_header %}
                {% endblock %}
            </h1>
        </div>
        <div>
            {% block filter_box %}
            {% endblock filter_box %}
        </div>
        <div>
            <hr>
        <div>
        <div>
            <ul>
                {% block list %}
                {% endblock list %}
            </ul>
        </div>
    </center>
{% endblock content %}