{% extends "search/search_app_template.html" %}

{% block title %}
- Explorador de Empresas
{% endblock title %}

{% block search_header %}
{% endblock search_header %}

{% block filter_box %}
    <form action="{% url 'search:explorer' %}" method="get">
        {% csrf_token %}
        <div>{{ form_filter }}</div>
        <div>{{ form_sorting }}</div>
        <input type="submit" value="Aplicar filtros">
    </form>
{% endblock filter_box %}

{% block list %}
    {% for company in company_list %}
    <li>
        <a href="{% url 'company:company' company.id %}" class="empresa">
            {{ company.name }}
        </a>
    </li>
    {% endfor %}
{% endblock list %}