{% extends "global/base.html" %}

{% block title %}
- Busca - {{ query }} 
{% endblock title %}

{% block content %}
    <center>
        <div>
            <h1>
                Resultados para {{ query }}
            </h1>
        <div>
        <div>
            {% for company in company_list %}
                <li>
                    <a href="{% url 'company:company' company_id=company.id %}">{{ company.name }}</a>
                </li>
            {% endfor %}
        </div>
    </center>
{% endblock content %}