{% extends "global/base.html" %} {% block title %} - Empresa {% endblock %}
{%block content %}

<div>
  <h2>{{ company.name }}</h2>

  {% if user.is_authenticated %} 
    {% if user in company.favorites.all %}
    <button class="btn-done">Favoritado</button>
    {% else %}
    <button class="btn-default">Favoritar</button>
    {% endif %} 
  {% endif %}
</div>

<img src="{{company.logo.url}}" alt="Logo Empresa" />
<div class="description">
  <h3>Descrição</h3>
  <p>{{ company.description }}</p>
</div>
<div>
  <ul class="infos-pages">
    <li><a href="{% url 'company:reports' company.id %}">Denúncias</a></li>
    <li><a href="{% url 'company:lawsuits' company.id %}">Processos</a></li>
    <li><a href="{% url 'company:news' company.id %}">Notícias</a></li>
  </ul>
</div>
<div>
  <button onclick="window.location.href = '{% url 'infos:report' %}'">Denunciar</button>
</div>
{% endblock %}
