{% extends "global/base.html" %}

{% block title %}
- {{ info_type }}
{% endblock %}

{% block content %}
<div class="bg-blue-600 text-white w-full text-center my-6">
    <h1 class="text-2xl font-bold">{{ info_type }}</h1>
    <h2 class="text-sm font-semibold">{{ company.name }}</h2>
</div>

<div class="w-11/12 space-y-5 ">
    {% for info in infos %}
    <div class="bg-blue-700 bg-opacity-20 rounded-xl pt-2 pb-3 px-8 flex flex-row items-center space-x-2.5 cursor-pointer hover:scale-[1.035]"
        onclick="window.location.href = '{% url redirect_page info.id %}';">
        <div class="grow w-full">
            {% if info_type == "Denúncias" %}
            <h3 class="text-lg font-bold">{{ info.category }}</h3>
            {% else %}
            <h3 class="text-lg font-bold">{{ info.title }}</h3>
            {% endif %}

            <p class="text-sm text-justify leading-tight break-words">{{ info.content|truncatechars:300 }}</p>

            {% if info_type == "Notícias" %}
            <p class="text-sm text-neutral-600 mt-1">{{ info.date|date:"d/m/Y" }}</p>
            {% endif %}
        </div>

        <ion-icon name="arrow-forward-outline" class="flex-none"></ion-icon>
    </div>
    {% endfor %}
</div>
{% endblock %}